@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrolling animation for allocated IDs */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scrolling {
  animation: scroll 15s linear infinite;
}

/* Pause animation on hover */
.animate-scrolling:hover {
  animation-play-state: paused;
}
